%head
  %title Shitty Tweets
  %meta{ http_equiv: "X-UA-Compatible", content: "IE=edge,chrome=1" }
  %meta{ charset: "utf-8" }
  %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
  
  %meta{ name: "description",                 content: "Because some tweets are only good for wipin'." }
  %meta{ name: "keywords",                    content: "tweets,twitter,tp,toilet paper" }

  %link{rel: 'icon',              href: image_path('favicon.ico'), type: 'image/x-icon'}
  %link{rel: 'shortcut icon',     href: image_path('favicon.ico'), type: 'image/x-icon'}
  %link{rel: 'apple-touch-icon',  href: image_path('favicon.ico'), type: 'image/x-icon'}

  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"

  -# Stylesheets
  = stylesheet_link_tag 'application'
  /[if lte IE 8]
    = stylesheet_link_tag "ie"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr.js"