---
title: Shitty Tweets
body_class: index
---

.intro.height-full
  .container.height-full
    .col-sm-6.height-full
      %h1= image_tag "logo.svg"
    .col-sm-6.height-full
      %h2
        Because some tweets are only good for wipin'.
        %span &reg;

.step-1.content-container
  .container
    %h3.content-title Step One - Customize your roll